#root {
  max-width: 380px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
  border-radius: 25PX;
}
/* .btn{
  display: flex;
} */

.sms {
  margin-block: 20px;
  padding: 10px;
  background-color: rgb(157, 164, 157);
  border: 2px solid rgb(238, 239, 237);
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

